/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Zilla Slab', serif;
	background: white;
}
::selection {
	background: #1d2120;
	color: white;
}
::-moz-selection {
	background: #1d2120;
	color: white;
}
a {
	color: #bcd5d1;
	transition: all 1.5s ease;
}
a:hover {
	text-decoration: none;
	color: #1d2120;
}

#sideNav {
	color: #7c7997;
	width: 200px;
	position: fixed;
	height: 100%;
	padding: 0;
	padding-top: 50px;
	font-size: 16px;
	line-height: 25px;
}
#sideNav p,
#sideNav li a {
	padding: 10px 0 10px 45px;
}
#sideNav a {
	display: block;
	border-left: 5px solid transparent;
}
#sideNav a.active {
	border-color: #1d2120;
	color: #1d2120;
}
#sideNav ul {
	list-style: none;
	padding: 0;
}
#sideNav li:hover a {
	color: #1d2120;
}
#sideNav p:first-of-type {
	padding-top: 0;
}

#mainContent {
	float: left;
	width: 84%;
	margin-left: 200px;
	background-color: white;
	height: 100vh;
	color: #7c7997;
	padding: 50px;
}
#mainContent img {
	max-width: 100%;
	height: auto;
	margin-bottom: 50px;
}

#portraits,
#misc {
	display: none;
}
.title {
	font-size: 28px;
}
.contact {
	position: absolute;
	bottom: 0;
	margin: 0 0 50px 50px;
	border: none !important;
}